@font-face {
    font-family: 'robotoregular';
    src: url('polices/Roboto-Regular-webfont.eot');
    src: url('polices/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/Roboto-Regular-webfont.woff2') format('woff2'),
         url('polices/Roboto-Regular-webfont.woff') format('woff'),
         url('polices/Roboto-Regular-webfont.ttf') format('truetype'),
         url('polices/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
    position: relative;
    background: url(images/background-body.jpg) fixed;
    z-index: -2;
}
#bloc-page{
    position: relative;
    z-index: 2;
    background-color: white;
    font-family: roboto-regular, sans-serif;
    width: 1000px;
    max-width: 100%;
    border: 1px solid #9e9e9e;
    overflow: auto;
    margin: auto;
}
h1{
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 0;
}
h2, h3, h4{
    font-weight: normal;
}
header{
    display: flex;
}
strong{
    font-weight: normal;
    color: #9e9e9e;
}
em{
    font-style: normal;
    border-bottom: solid 2px #9e9e9e;
}
.photo-presentation{
    display: flex;
    width: 30%;
    min-width: 30%;
    background-color:#9e9e9e;
    justify-content: center;
    align-items: center;
}
.id-photo{
    width: 180px;
    height: 180px;
    border: 2px solid #e0e0e0;
    overflow: hidden;
    border-radius: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 800ms 100ms;
}
.id-photo:hover{
    border: 2px solid #84ffff;
    transform: scale(1.2);
}
.cv-title{
    width: 70%;
    margin: 70px 0 50px 0;
    padding-left: 5%;
    padding-right: 5%;
}
#cv{
    display: flex;
    justify-content: flex-start;
}
nav{
    width: 30%;
    min-width: 30%;
    background-color: #9e9e9e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#contact, #presentation, #hobbies{
    width: 100%;
    text-align: center;
}
nav h2{
    width: 100%;
    background-color: #e0e0e0;
    color: #9e9e9e;
    padding: 5px 0 5px 0;
}
.contact-information{
    text-align: left;
    padding-left: 20px;
}
.contact-information h3{
    margin-bottom: 0;
}
.contact-information p{
    margin-top: 0;
}
.contact-information a{
    color: black;
}
.contact-information a:hover {
    color: #84ffff;
}
#presentation{
    height: 40%;
}
.presentation-text{
    padding: 0 20px 0 20px;
}
#hobbies{
    padding-bottom: 20px;
}
#hobbies i{
    width: 35px;
    height: 35px;
    padding: 10px;
    border: solid 2px #e0e0e0;
    border-radius: 100%;
    font-size: 2.1em;
    color: #e0e0e0;
    position: relative;
    transform: scale(1);
    transition: all 600ms 100ms;
}
.fa-biking::before{
    position: relative;
    top: 0;
    left: -4px;
}
.fa-futbol::before{
    position: relative;
    top: 1px;
}
#hobbies i:hover{
    transform: scale(1.3);
    background-color: #84ffff;
    color: white;
    border: solid 3px white;
}
.my-hobbies{ 
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
} 
#curriculum{
    width: 70%;
    padding-left: 5%;
    padding-right: 5%;
}
.job-qualification{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.job-qualification ul{
    padding-left: 0;
}
.job-qualification li{
    padding-left: 40px;
}
.job-qualification li::marker{
    content: "";
}
.job-qualification a{
    font-size: 0.9em;
}
.job-qualification a:hover{
    font-weight: bold; 
}
.society{
    width: 60%;
    margin-left: 15%;
}
.society p{
    font-size: 0.9em;
    margin-top: 8px;
}

.society h3{
    margin-bottom: 8px;
}
.recommandations-contact{
    display: flex;
    justify-content: space-around;
}
.date-place{
    display: flex;
    align-items: center;
    font-size: 0.9em;
    width: 130px;
}
.date-place img{
    width: 15px;
    min-width: 15px;
    margin-right: 15px;
    opacity: 0.7;
}
.title{
    display: flex;
    align-items: center;
    border-bottom: solid 2px #9e9e9e;
    margin: 30px 0 30px 0;
}
.curriculum h2{
    margin-bottom: 10px;
}
.contact{
    width: 45%;
}
#curriculum i{
    margin: 15px;
    color: #9e9e9e;
}
.i-title{
    font-size: 1.4em; 
}
.fa-circle{

    font-size: 0.6em;
}
.fa-dot-circle{
    font-size: 0.8em;
}


/* Responsive moin de 785px  */

@media all and (max-width: 785px)
{
    body{
        margin: 0;
    }
    #bloc-page{
        box-shadow: none;
        border: none;
        width: 100%;
    }
    header{
        align-items: center;
    }
    .photo-presentation{
        background-color: white;
    }
    .id-photo{
        margin: 10px;
        width: 90px;
        height: 90px;
        flex-shrink: 0;
    }
    .cv-title{
        margin: 0;
    }
    .cv-title h1{
        font-size: 1.5em;
        margin-top: 15px;
    }
    .cv-title h3{
        margin: 2px;
    }
    #cv{
        flex-direction: column;
    }
    #cv h2{
        font-size: 1.1em;
    }
    #curriculum{
        width: 100%;
        padding: 0;
    }
    #curriculum h2{
        font-weight: bold;
    }
    .title{
        margin: 8px;
    }
    .date-place{
        width: 100px;
        min-width: 100px;
        font-size: 0.9em;
    }
    .society{
        margin-left: 30px;
    }
    .society h3{
        font-size: 0.9em;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .society p, .society h4{
        margin: 0 0 10px 0;
        font-size: 0.9em;
    }
    .recommandations-title{
        font-size: 0.9em;
    }
    .contact{
        padding: 10px;
    }
    nav{
        width: 100%;
    }
    .my-hobbies{
        margin:15px 0 15px 0;
    }
}